In [1]:
import pandas as pd

# 1 Read .csv from URL with Pandas

Website: https://www.football-data.co.uk/data.php

In [5]:
# Read 1 .cvs file from a website
df_premier22 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [6]:
# Show datafram
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

In [7]:
# Change column names
df_premier22.rename(columns={'Date':'date',
                             'HomeTeam':'home_team',
                             'AwayTeam':'away_team',
                             'FTHG':'home_goals',
                             'FTAG':'away_goals'                            
                            }, inplace=True)

In [8]:
# Show dataframe
df_premier22

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

# 2 Read .csv of multiples URLs with Pandas

- https://www.football-data.co.uk/mmz4281/2223/E0.csv
- https://www.football-data.co.uk/mmz4281/2223/E1.csv

<b> Link: roor + season + league </b>

In [9]:
# link structure
"https://www.football-data.co.uk/mmz4281/"+"2223"+"/"+"E0"+".csv"

'https://www.football-data.co.uk/mmz4281/2223/E0.csv'

In [10]:
# Create a variable root
root = "https://www.football-data.co.uk/mmz4281/"

# 2.1 Multiples leagues

- https://www.football-data.co.uk/mmz4281/2223/E0.csv
- https://www.football-data.co.uk/mmz4281/2223/E1.csv
- https://www.football-data.co.uk/mmz4281/2223/E2.csv
- https://www.football-data.co.uk/mmz4281/2223/E3.csv
- https://www.football-data.co.uk/mmz4281/2223/EC.csv

In [18]:
# create leagues list
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []
for league in leagues:
    df = pd.read_csv(root+'2223'+'/'+league+'.csv', encoding='unicode_escape')
    frames.append(df)
    
# make a loop in leagues list, read multiples csv and attached

In [19]:
# size of frames
len(frames)

5

In [20]:
# show first, second and third frames
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,06/08/2022,15:00,Aldershot,Solihull,1,4,A,1,2,...,2.03,0.75,1.93,1.88,1.93,1.92,1.94,1.98,1.89,1.88
1,EC,06/08/2022,15:00,Altrincham,Maidstone,1,1,D,1,1,...,2.00,-0.25,1.93,1.88,1.94,1.91,1.96,1.92,1.91,1.87
2,EC,06/08/2022,15:00,Barnet,Halifax,2,0,H,1,0,...,2.07,0.25,1.85,1.95,1.86,1.99,1.88,2.00,1.84,1.92
3,EC,06/08/2022,15:00,Dag and Red,Gateshead,2,2,D,1,2,...,2.10,-0.50,1.88,1.93,1.93,1.93,1.93,2.02,1.85,1.92
4,EC,06/08/2022,15:00,Dorking,Chesterfield,2,2,D,0,2,...,2.25,0.25,1.95,1.85,1.95,1.89,2.01,1.89,1.92,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,29/04/2023,17:30,Notts County,York,1,1,D,1,0,...,3.29,-2.25,1.85,1.95,1.83,1.94,2.28,2.00,1.92,1.86
548,EC,29/04/2023,17:30,Oldham,Bromley,1,1,D,1,0,...,1.93,0.00,1.70,2.10,1.63,2.23,1.94,2.23,1.75,2.02
549,EC,29/04/2023,17:30,Solihull,Woking,0,1,A,0,0,...,1.94,0.50,2.02,1.77,2.01,1.79,2.06,1.83,2.00,1.77
550,EC,29/04/2023,17:30,Southend,Wealdstone,2,1,H,0,1,...,2.02,-1.00,1.75,2.05,1.76,2.05,1.91,2.09,1.78,1.98
551,EC,29/04/2023,17:30,Torquay,Wrexham,1,1,D,0,0,...,2.67,1.00,2.08,1.73,1.95,1.83,2.10,1.86,1.99,1.76

# 2.2 Multiple seasons

In [27]:
# create leagues list
leagues = ['E0','E2', 'E3']
frames = []
for league in leagues:
    for season in range(15, 21):
        df = pd.read_csv(root+str(season)+str(season+1)+'/'+league+'.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)
    
# make a loop in leagues list, read multiples csv and attached

In [28]:
# total frames (6 seasons x 3 leagues)
len(frames)

18

In [30]:
# show first, second and third frames
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,20,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,20,08/05/2021,15:00,Southend,Newport County,1,1,D,1,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,20,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,20,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86

# 3 Organize data in a dictionary

In [31]:
# Create a dictionary with original name of the league
dict_countries = {
    'Spanish La Liga': 'SP1', 'Spanish Segunda Division':'SP2',
'German Bundesliga': 'D1',
'English Premier League': 'E0', 'English League 1': 'E2', 'English League 2':'E3'
}

In [32]:
# get the element of dictionary
dict_countries['Spanish La Liga']

'SP1'

In [35]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [42]:
dict_historical_data = {}
# create leagues list
# leagues = ['E0','E2', 'E3']

for league in dict_countries:
    frames = []
    for season in range(15, 21):
        df = pd.read_csv(root+str(season)+str(season+1)+'/'+dict_countries[league]+'.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league]= df_concat
    
# make a loop in leagues list, read multiples csv and attached

In [43]:
# show dataframe in the dict_historical_data
dict_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,15,21/08/15,Malaga,Sevilla,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,15,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,15,22/08/15,Espanol,Getafe,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,15,22/08/15,La Coruna,Sociedad,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,15,22/08/15,Vallecano,Valencia,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,20,22/05/2021,Osasuna,Sociedad,0,1,A,0,0,...,2.34,1.00,2.07,1.86,2.06,1.87,2.07,1.96,1.98,1.88
376,SP1,20,22/05/2021,Real Madrid,Villarreal,2,1,H,0,1,...,2.57,-1.00,2.01,1.92,2.00,1.93,2.02,2.02,1.95,1.92
377,SP1,20,22/05/2021,Valladolid,Ath Madrid,1,2,A,1,0,...,2.30,1.50,1.90,2.03,1.90,2.02,1.95,2.06,1.90,1.97
378,SP1,20,23/05/2021,Granada,Getafe,0,0,D,0,0,...,1.80,0.25,1.73,2.08,1.77,2.18,1.84,2.23,1.77,2.12
379,SP1,20,23/05/2021,Sevilla,Alaves,1,0,H,0,0,...,2.40,-1.50,1.97,1.96,1.93,1.99,2.13,2.03,1.99,1.88